.markdown {
  color: var(--agorium-50);
  border-radius: 6px;
  line-height: 1.6;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  color: var(--agorium-50);
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 16px;
}

.markdown h1 {
  font-size: 2em;
  border-bottom: 1px solid var(--agorium-600);
}
.markdown h2 {
  font-size: 1.75em;
  border-bottom: 1px solid var(--agorium-600);
}
.markdown h3 {
  font-size: 1.5em;
}
.markdown h4 {
  font-size: 1.25em;
}
.markdown h5 {
  font-size: 1em;
}
.markdown h6 {
  font-size: 0.875em;
  color: var(--agorium-200);
}

.markdown p {
  margin: 16px 0;
  width: 100%;
}

.markdown a {
  color: var(--amber-100);
  text-decoration: underline;
}

.markdown strong {
  color: var(--agorium-200);
  font-weight: bold;
}

.markdown em {
  font-style: italic;
  color: var(--agorium-200);
}

.markdown u {
  text-decoration: underline;
  color: var(--amber-100);
}

.markdown blockquote {
  border-left: 4px solid var(--agorium-400);
  background-color: var(--agorium-800);
  padding: 8px 16px;
  margin: 16px 0;
  color: var(--agorium-300);
  font-style: italic;
}

.markdown code,
.markdown code * {
  background-color: #282a36;
  color: var(--amber-50);
  padding: 2px 4px;
  border-radius: 4px;
  font-family: monospace, "Courier New", Courier;
}

.markdown pre {
  background-color: #282a36;
  border: 1px solid var(--agorium-700);
  color: var(--amber-50);
  padding: 16px;
  border-radius: 8px;
  overflow-x: auto;
}

.markdown ul {
  list-style-type: disc;
  padding-left: 20px;
  color: var(--agorium-50);
}

.markdown ol {
  list-style-type: decimal;
  padding-left: 20px;
  color: var(--agorium-50);
}

.markdown li {
  margin: 8px 0;
}

.markdown input[type="checkbox"] {
  margin-right: 8px;
}

.markdown:not(.mdxeditor) table {
  width: 100%;
  border-collapse: collapse;
  margin: 16px 0;
  overflow: hidden;
}

.markdown:not(.mdxeditor) table td {
  background-color: var(--agorium-800);
  color: var(--agorium-200);
  padding: 8px;
  border: 1px solid var(--agorium-600);
  text-align: left;
}

.markdown:not(.mdxeditor) table th {
  background-color: var(--agorium-700);
  color: var(--agorium-50);
  padding: 8px;
  border: 1px solid var(--agorium-600);
}

.markdown img {
  max-width: 100%;
  border-radius: 8px;
  margin: 16px 0;
}

.markdown hr {
  border: 0;
  height: 1px;
  background: var(--agorium-600);
  margin: 24px 0;
}
